@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    text-decoration: none;
}

#fontNob{
    font-family: Montserrat;
    font-weight: 900;
    text-shadow:
    -3px -3px 0 #FF5F00,  /* Esquerda Superior */
    3px -3px 0 #FF5F00,   /* Direita Superior */
    -3px 3px 0 #FF5F00,   /* Esquerda Inferior */
    3px 3px 0 #FF5F00;    /* Direita Inferior */
    
}

#textColor{

    color: #fcfcfc;
}
#input-form-size{
    max-width: 400px;
}

